@font-face {
  font-family: "Outfit";
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Young-serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
  /* font families */
  --ff-outfit: "Outfit", sans-serif;
  --ff-young-serif: "Young-serif", sans-serif;

  /* colors */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-300: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  font-size: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  display: grid;
  gap: 10px;
}

li {
  margin-left: 1rem;
  padding-left: 1rem;
}

h1, h2 {
  line-height: 1;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Outfit";
  color: var(--brown-800);
  background-color: var(--stone-100);
}

.content-wrapper {
  width: min(600px, 100%);
  margin-inline: auto;
  background-color: var(--white);
}

/* header */
.article__header {
  display: grid;
  gap: 24px;
}

.article__header-image {
  width: 100%;
}

.inside-wrapper {
  width: min(100% - 4rem);
  margin-inline: auto;
  display: block;

  /* TODO adjust width on laptop screen */
}

.article__title {
  font-family: var(--ff-young-serif);
  /* TODO clamp the font-size later */
  font-size: 2.25rem;
  font-weight: 300;
  /* margin-bottom: 16px; */
  color: var(--stone-900);
}

.preparation {
  background-color: var(--rose-50);
  padding: 1rem;
  border-radius: 8px;
}

.preparation h2 {
  margin-bottom: 24px;
}

.preparation__list li span,
.instructions span {
  font-weight: 600;
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
  font-family: var(--ff-young-serif);
  margin-bottom: 24px;
  font-weight: 300;
}

.article__section {
  padding-block: 40px;
  border-bottom: 1px solid var(--stone-100);
}

.article__section:last-child {
  border-bottom: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table td {
  padding: 10px;
  width: 50%;
}

.table tr:not(:last-child) td {
  border-bottom: 1px solid var(--brown-800);
}

tr td:last-child {
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  body {
    padding-block: 50px;
  }

  .content-wrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
  }

  .article__header-image {
    width: calc(100% - 2rem);
    margin-inline: auto;
    border-radius: 8px;
  }
}